
div{
    border: 2px;
    text-align: center;
    padding: 4%;
    border: 2px solid;
    background-color: rgb(22, 183, 227);
    color: rgb(5, 24, 118);
    font-weight: bold;
    width: 80%;
    justify-content:space-around;
}

h2{
    text-align: center;
    /* background-color: rgb(18, 49, 207); */
    color: rgb(5, 24, 118);
    font-style: italic;
    border: 2px dotted whitesmoke;
    
}



div>input{
    border-color: blue;
    border-radius: 2rem;
}

button{
    border-color: rgb(18, 49, 207);
    border-radius: 2rem;
}